<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Presensi: lokasi & kamera. Push: notifikasi (Android 13+). -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <application
        android:label="HRD Nusantara"
        android:networkSecurityConfig="@xml/network_security_config"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <!-- Aplikasi lokasi palsu yang umum, agar terlihat oleh deteksi fake GPS (Android 11+). -->
        <package android:name="com.lexa.fakegps"/>
        <package android:name="com.incorporateapps.fakegps.fre"/>
        <package android:name="com.blogspot.newapphorizons.fakegps"/>
        <package android:name="com.evezzon.fakegps"/>
        <package android:name="com.theappninjas.gpsjoystick"/>
        <package android:name="com.gsmartstudio.fakegps"/>
        <package android:name="ru.gavrikov.mocklocations"/>
        <package android:name="com.rosteam.gpsemulator"/>
        <package android:name="com.lkr.fakelocation"/>
        <package android:name="com.ninja.toolkit.pulse.fake.gps.pro"/>
        <package android:name="com.fakegps.mock"/>
        <package android:name="com.byterevapps.fakegps"/>
        <package android:name="com.hola.fakelocation"/>
        <package android:name="org.hola.gpslocation"/>
        <package android:name="com.pe.fakegps"/>
        <package android:name="com.dvaoru.fake.gps"/>
        <package android:name="com.location.mock"/>
        <package android:name="com.blackbox.mocklocation"/>
        <package android:name="com.kokosoft.fake.gps"/>
        <package android:name="com.xdadevelopers.mockgps"/>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
